{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="main-block">
        <h6>2gether</h6>
        <h1>Смотри фильмы вместе с друзьями.</h1>
        <h6 class="sub-heading">Проведите время в компании друзей, наслаждаясь просмотром кино в уютной обстановке.</h6>
    <button type="button" class="btn btn-light">Начать</button>
    </div>
<script src="{% static 'bootstrap.bundle.min.js' %}"
        crossorigin="anonymous"></script>
</body>
</html>