{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pagetitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'media/ico.jpg' %}" type="image/png">
</head>
<body>
<header>
    {% include 'menu.html' %}
</header>
<main>
{% block content %}
{% endblock %}
</main>

{% include 'footer.html' %}
<script src="{% static 'bootstrap.bundle.min.js' %}"
        crossorigin="anonymous"></script>
</body>
</html>